<!-- show all questions (index) -->
<div>
<h1>Questions Index:</h1>

<%= erb :'_errors' %>

<% if @questions %>
  <% @questions.each do |question| %>
    <p><Question (author)</p>
    <a href="/questions/<%= question.id %>"><%= question.title %> (<%= question.user.username %>)</a>
  <% end %>
<% end %>
</div>
<!-- could add delete-edit button here. or can just be on show.erb -->
