<br>

<% if @error %>
  <center><h4><%= erb :"/_error" %></h4></center>
<% end %>

<form id="login-form" action="/sessions" method="post">
  <fieldset>
    <legend><h3>Login:</h3></legend><br>

    <label for="email">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id= "email" type="text" name="user[email]"><br><br>
    <label for="password">Password: &nbsp;</label>
    <input id = "password" type="password" name="user[password]"><br><br>

    <input type="submit" value="Login"><br>
  </fieldset>
</form>
