/*body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}*/



/*header h1 {
  font-size: 15pt;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 12pt;
  display: inline;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}*/

article {
  margin: 5px 5px;
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}


article h2 {
  display: inline;
  font-size: 10pt;
}

article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}

article p span.points:after {
  content: " points";
}

article p span.username:before {
  content: " by ";
}

article p span.timestamp:after {
  content: ' hours ago';
}

article p span.comment-count:before {
  content: ' | ';
}

article p span.comment-count:after {
  content: ' comments | ';
}

article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

article p a.delete:before {
  content: ' delete this post';

}

form#questions input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#questions input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  border-color: white;
  font-weight: bold;
  background-color: #F4712D;
}

.inline {
  display: inline;
}

#login-form {
  display: none;
}

#register-form {
  display: none;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.right {
  border: 2px hidden;
  left-margin: 60px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}

.container {
  margin: 20px auto;
  width: inherit;
  padding: 0px 20px 20px 20px;
  height: 400px;
}
th {
  text-align: left;
}


.top {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-image: url("/header.jpg")
}

img {
  position: relative;
  margin-top: -50px;
  height: 100%;
  width: 20%;
  min-width: 250px;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
    overflow: hidden;
    background-color: none;
    clear: both;
}

li {
    margin-top: 0;
    display: inline-table;
   /* float: right;*/
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.clear{
    clear:both;
}

#logout
{
  display: none;
  float: right;
}

#login
{
  display: none;
  float: right;
}

#lglink {
}

#loggingout {
  margin-top: 15px;

}

#loggingin {
  margin-top: 15px;

}


.questions {
  background: linear-gradient(to bottom right, #5bc0de, #428bca);
  height: 300px;
  width: auto;
}

.statement {
 font-family: 'Bungee Shade', cursive;
  float: left;
}

body {
  background-image: url("/bg.jpg");
  width: 100%
  overflow: hidden;
}

.fixed {
clear: both;

}

#reg {
  display: none;
  float: right;
}

#errormessage {
  color:red;
  overflow: hidden;
  float:top;
  clear: both;
  margin-right: 15px;

}

#commentform {
  display: none;
}

#comment {
  display: none;
}

#qlist {
float: center;
}

.questions-list {
  float: left;
}

.question {
  padding-left: 50px;
}

div {
  clear: both;
}

#cform {

}

div {
background: rgba(0, 175, 250, 0.3) ;
}

p {
margin-top: 15px;
margin-bottom: 15px;
padding-left: 10px;
font-family: 'Nunito', sans-serif;
font-size: 24px;
color: white;
}

.question {
padding-left: 10px;
font-family: 'Bungee', cursive;
font-size: 30px;
color: white;
}

.question-title {
padding-left: 10px;
font-family: 'Bungee', cursive;
font-size: 36px;
color: white;

}

.headline {
padding-left: 10px;
font-family: 'Nunito', sans-serif;
font-size: 30px;
color: white;
}

.votebutton {
  margin-left: 25px;
  padding: 10px;
}