<header><center>
      <ul><li><a href="/">Home</a></li>
    <% if logged_in? %>
      <li><a href="/questions/new">New Question</a></li>
      <li><a href="#">Profile</a></li>
      <li><a id="username" href="#"></a></li>
      <li><form action="/sessions" method="post">
        <input class="button" type="submit" value="logout">
        <input type="hidden" name="_method" value="delete">
      </form></li>
    <% else %>
      <li><a id="register-trigger" href="/users/new">Register</a></li>
      <li><a class="button" id="login-trigger" href="/sessions/new">Login</a></li>
    <% end %>
    </p></center>
    <%= erb :'sessions/_new' %>
  </header>
